$message-container-width: 20vw;

div.message-list-container {
	width: $message-container-width;
	text-align: center;
	div.msg {
		border-style: solid;
		border-radius: 2px;
		border-color: black;
		margin: 1rem;
		p {
			margin: 0.1rem;
			word-break: break-all;
		}
	}
}

div.user-list-container {
	width: $message-container-width;
	display: flex;
	div.av {
		display: flex;
		flex-direction: column;
		text-align: center;
		p {
			margin: 0px;
			padding: 1px;
		}
	}
}

form.msg-input {
	display: flex;
	position: absolute;
	bottom: 0;
	input[name='msg'] {
		width: 80%;
	}
	overflow: hidden;
	margin-bottom: 1rem;
}

body {
	width: calc(100vw - #{$message-container-width}) !important;
}
